div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;


    h1 {
        color: red;
        margin-left: 20px;
    }

    div {

        input,
        button {
            padding: 10px 15px;
            border-radius: 20px;
            margin-inline: 10px;
        }
    }


}