h2 {
    padding: 10px 20px;
    margin: 20px;
    background-color: rgb(56, 55, 55);
    border-radius: 20px;
    color: rgb(211, 211, 211)
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: grey;

    .card {
        margin: 20px;
        width: calc(100% / 3 - 40px);
    }
}